<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlink}}
 </head>
<body>
  
        {{>navbar}}
    

  <!-- main header -->

  <div class="container-fluid main_header">
      <div class="row">
          <div class="mx-auto col-md-10 col-12">
              <div class="row">
                <div class="col-md-6 col-12 main_header_right align-item-center">
                 <figure>
                     <img src="images/img1.jpg" class="img-fluid" title="weather"/>
                 </figure>
                 </div>
                  <div class="col-md-6 col-12 main_header_left">
                      <p>Know about me</p>
                      <h1>I am <span class="txt-clr">Frontend Developer</span></h1>
                      <a href="#"><button>About me</button></a>
               
                  </div>
              </div>

          </div>
      </div>
  </div>

  <!-- footer -->
  {{>footer}}
</body>
</html>